

@import '../../styles/breakpoints.scss';

.banner{
    width: 1920px;
    height: 600px;
    background-image: url('/assets/fundo.jpg');
    display: flex;

    &-container{
        margin-left: 5em;
        flex-direction: column;
        gap: 30px;
        padding: 10px 100px;

        }

    h2{
        color: white;
        font-size: 70px;
        
    }
    p{
        
        font-family: 'Inconsolata', monospace;
        font-size: 25px;
        color: white;
    }

   
button {
  border: none;
  transition: all .5s;
  width: 180px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
}

button span {
  display: inline-block;

  transition: all .5s;
  font-size: 20px;

}

button:hover {
  cursor: pointer;
}

.bounce-effect:hover {
  width: 189px;
  height: 42px;
}

.bounce-effect:active {
  width: 171px;
  height: 38px;
}
.btn{
  margin-top: 2em;
  border-radius: 36px;
  cursor: pointer;
  font-size: 24px;

  font-family: 'Bebas Neue', sans-serif; ;

  color: #000000;
  border: 1px solid #000000;
  overflow: hidden;

  }

  .btn::before {
    content: "";
    width: 100%;
    height: 0%;
    background-color: #041833;

    left: 0;
    bottom: 0px;
    z-index: 1;
    transition: all .8s;
    border-radius: 50% 50% 0 0;
}

.btn span{
  z-index: 2;
}
.btn:hover {
  color: #041833;
}
.btn:hover::before {
  height: 180%;
}

.bounce-effect:hover {
  width: 189px;
  height: 42px;
}

.bounce-effect:active {
  width: 171px;
  height: 38px;
}
  


}



@media screen and (max-width: 1400px) {
    .banner{
      width: 1400px;
      height: 400px;
      
      
    &-container{
        margin-left: 0;

        }
      
    h1{
        font-size: 60px;
    
      }
      h2{
        font-size: 35px;
      }
  
      p{
        font-size: 20px;
      }

      button{
        margin-top: 1em;

      }
    }

  }

  @media screen and (max-width: $mobile-sm){

    .banner{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        img{
           max-width: 100%;

            height: auto;
        }
        &-container{
            padding: 20px 0 ;
            margin-left: 25px;
    
            }

              h2{
                font-size: 30px;
              }
          
              p{
                font-size: 14px;
              }

              button{
                margin-top: 0.2em;
                padding: 10px 30px;
              }
    }

        
    
  
  }