
@import '../../styles/breakpoints.scss';


.header {
  background-image: url('/assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 120px 100px 120px;
  position: relative;
  width: 1920px;
  height: 1080px;
  @media(max-width: $mobile-sm) {
   max-width: 100%;
  }


}
